<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>787922881388-fu8vgstg4imjl3f16rt6np6vpoe7uitq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.787922881388-fu8vgstg4imjl3f16rt6np6vpoe7uitq</string>
	<key>API_KEY</key>
	<string>AIzaSyCVdsf3-V5gfjLVSte1gOZM9RSbIv0H1qA</string>
	<key>GCM_SENDER_ID</key>
	<string>787922881388</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ru.mafia</string>
	<key>PROJECT_ID</key>
	<string>mafia-37577</string>
	<key>STORAGE_BUCKET</key>
	<string>mafia-37577.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:787922881388:ios:6bc8758bb4eaffce</string>
	<key>DATABASE_URL</key>
	<string>https://mafia-37577.firebaseio.com</string>
</dict>
</plist>